@import url('add-to-card.css');
@import url('weather.css');
@import url('New-York-Times.css');

*,::before, ::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body{
  position: relative;
  background-image: url('https://images.unsplash.com/photo-1704913427603-6cb736d51f05?q=80&w=987&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow-y: scroll;
  overflow-x: clip;
  
  width: 100vw;
  min-width: 375px;
  height: auto;
  min-height: 100vh;

  display: grid;
  place-content: center;
  grid-template-columns: repeat(1fr);
  grid-template-rows: 205px 3fr 255px;
  grid-template-areas: 
  'header' 
  'main' 
  'footer';
}

body::-webkit-scrollbar{
  display: none;
}
/* ................Time and Date.............. */
header{
  grid-area: header;
}

.time-date-cont{
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #8b908fad;
  border-radius: 15px;
  width: 250px;
  height: 25px;
  margin: 25px auto 0px auto;
}

.clock{
  font-weight: 600;
  font-style: italic;
}

/* ...........Dashboard..................... */
.dashboard-layout{
  grid-area: main;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  /* border: 1px solid white; */
  width: 100vw;
  min-width: 375px;
}

#dashboard-title{
  display: flex;
  align-items: end;
  font-size: 2.5rem;
  color: white;
  /* height: 100px; */
}
.cards-layout{
  display: grid;
  place-content: center;
  grid-template-columns: repeat(auto-fit, minmax(300px, 300px));
  gap: 0.5rem;
  width: 100%;
  /* border: 1px solid red; */
}

.card{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  background-color: #8b908fad;
  border-radius: 10px;
  height: 350px;
  position: relative;
  scroll-margin-top: 10rem;
}

.card > .title h2{
  font-size: 1.5rem;
  font-style: italic;
  font-weight: 500;
  display: flex;
  align-items: end;
  height: 50px;
}

/* .............Footer...................... */
footer{
  display: flex;
  align-items: end;
  justify-content: center;
}

.footer-layout{
  background-color: #8b908fad;
  display: flex;
  align-items: center;
  gap: 1rem;
  height: 35px; 
  padding: 0 10px;
  border-radius: 15px;
  margin-bottom: 25px;
}

.footer-layout p{
  font-weight: 600;
  font-style: italic;
}


